* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Samsung Sharp Sans';
  /* font-family: "Sk-Modernist"; */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1rem
}

div,
section {
  margin-block: 1rem
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}